<div class="alert alert-info">
  <h4>{{mensaje}}</h4>
  {{#if token}}
    <p>Token:</p>
    <pre>{{token}}</pre>
  {{/if}}
</div>
<p><a href="/libros" class="btn btn-secondary">Volver a libros</a></p>
