{{!-- Página principal --}}
<div class="row">
  <div class="col-md-8">
    <h1>Bienvenido al sistema de venta de libros</h1>
    <p class="lead">Navega el catálogo y compra los libros disponibles. Inicia sesión para poder comprar.</p>
    <a class="btn btn-primary" href="/libros">Ver catálogo</a>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Accesos rápidos</h5>
        <a href="/auth/login" class="d-block">Ingresar</a>
        <a href="/usuarios/register" class="d-block">Registro</a>
      </div>
    </div>
  </div>
</div>
