
<h1>Login</h1>
<form action="/login" method="POST">
  <div class="mb-2">
    <label>Usuario</label>
    <input name="username" class="form-control"/>
  </div>
  <div class="mb-2">
    <label>Contraseña</label>
    <input name="password" type="password" class="form-control"/>
  </div>
  <button class="btn btn-primary">Ingresar</button>
</form>
<p class="mt-3">O usa API: POST /api/login (JSON)</p>
