<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">City Guide</a>
    <nav class="nav">
      <a href="/">Inicio</a>
      <a href="/about">Sobre esta app</a>
    </nav>
  </div>
</header>