</div> <!-- cierre container -->

<footer class="text-center mt-5 py-4 bg-dark text-white">
  <small>© 2025 - Sistema de Gestión de Productos | Desarrollado en Node.js + EJS</small>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
