<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">📦 Gestión de Productos</a>
    <div class="d-flex">
      <a href="/" class="btn btn-outline-light me-2">Inicio</a>
      <a href="/agregar" class="btn btn-success">Agregar</a>
    </div>
  </div>
</nav>
<div class="container">
