{{!< layouts/main }} 
<section>
  <h1>Guía de Ciudades</h1>
  <p>Explora algunas ciudades del mundo. Haz clic en "ver más" para ver detalles.</p>
  <div class="grid">
    {{#each cities}}
      {{> cityCard this}}
    {{/each}}
  </div>
</section>
