<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h1 class="fw-bold">Acerca de Mí</h1>
                </div>
                
                <div class="row align-items-center mb-5">
                    <div class="col-md-4 text-center mb-4 mb-md-0">
                        <img src="/img/perfil2.jpg" alt="{{mayusculas mi_nombre}}" class="img-fluid rounded-circle shadow mx-auto d-block" style="max-width: 100%; height: auto; aspect-ratio:1/1;" onerror="this.src='/img/placeholder-profile.jpg'">
                    </div>
                    <div class="col-md-8  custom-font">
                         <p class="lead" style="text-align: justify;">
                            Actualmente estoy cursando el programa de Desarrollo de Aplicaciones Full Stack con JavaScript y me considero un apasionado de la tecnología y la innovación.
                            Me especializo en crear soluciones digitales que integran funcionalidad y diseño de manera eficiente.
                        </p>
                        <p style="text-align: justify;">
                            Mi enfoque se centra en escribir código limpio, escalable y mantenible, siempre aplicando las mejores prácticas y manteniéndome actualizado con las últimas
                            tecnologías del mercado para ofrecer soluciones de calidad..
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="card h-100 shadow-lg border-0 rounded-4 hover-scale">
                            <div class="card-body">
                                <h5 class="card-title text-primary mb-3">
                                    <i class="bi bi-tools me-2"></i>
                                    <strong>Habilidades Técnicas</strong>
                                </h5>
                                <ul class="list-unstyled custom-font">
                                    <li><strong>Frontend:</strong> HTML, CSS, JavaScript</li>
                                    <li><strong>Backend:</strong> Node.js, Express, Python</li>
                                    <li><strong>Base de Datos:</strong> SQl Server, PostgreSQL, MySQL</li>
                                    <li><strong>Herramientas:</strong> Git, Docker, AWS, Figma</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="card h-100 shadow-lg border-0 rounded-4 hover-scale">
                            <div class="card-body">
                                <h5 class="card-title text-primary mb-3">
                                    <i class="bi bi-briefcase me-2"></i>
                                    <strong>Experiencia</strong>
                                </h5>
                                <div class="mb-3 custom-font">
                                    <h6 class="fw-bold">Desarrollador web</h6>
                                    <small class="text-muted">2022 - Presente</small>
                                </div>
                                <div class="mb-3 custom-font">
                                    <h6 class="fw-bold">SQL Server</h6>
                                    <small class="text-muted">2015 - 2022</small>
                                </div>
                                <div class="mb-3 custom-font">
                                    <h6 class="fw-bold">Freelancer</h6>
                                    <small class="text-muted">Proyectos Independientes (2005 - Presente)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>