<form action="/carrito/add" method="POST" class="d-flex gap-2 align-items-center">
  <input type="hidden" name="id" value="{{this.id}}" />
  <input type="number" name="cantidad" min="1" value="1" class="form-control" style="width:100px"/>
  <button class="btn btn-outline-primary" type="submit">Agregar al carrito</button>

  <!-- bot칩n para compra r치pida si quieres que compre inmediatamente (usar치 token de sesi칩n) -->
  <form action="/libros/{{this.id}}/comprar" method="POST" class="d-inline ms-2">
    <input type="hidden" name="cantidad" value="1" />
    <button class="btn btn-primary">Comprar ahora</button>
  </form>
</form>
